VITE_ENTRA_CLIENT_ID=replace-with-portal-app-client-id
VITE_ENTRA_TENANT_ID=5aec48a1-c3c7-4cfd-a073-b38ae50041b1
VITE_TMS_API_URL=https://slh-tms-api-prod.gentlepond-08dba66b.uksouth.azurecontainerapps.io
VITE_TMS_API_SCOPE=api://497f6ea5-9753-43ee-8ccf-afaa0a3869c2/Tms.Access
